[submodule "gl-mod/bootstrap"]
	path = gl-mod/bootstrap
	url = https://github.com/gnulib-modules/bootstrap.git
[submodule "gnulib"]
	path = gnulib
	url = git://git.sv.gnu.org/gnulib.git
[submodule "vala-extra-vapis"]
	path = vala-extra-vapis
	url = https://gitlab.gnome.org/GNOME/vala-extra-vapis/
