*~
.deps
*.c
*.o
*_vala.stamp
*_vala.stamp-t
*.trs
*.log
/Makefile
/Makefile.in
/README
/README.md
/aclocal.m4
/autom4te.cache
/cmdline.h
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/rpl
/rpl.1
/rpl-*.tar.gz
/test
/TAGS
