*~
.deps
*.c
*.o
*_vala.stamp
*_vala.stamp-t
*.trs
*.log
*.gcov
*.gcda
*.gcno
/INSTALL
/Makefile
/Makefile.in
/README
/aclocal.m4
/aminclude_static.am
/autom4te.cache
/cmdline.h
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/coverage/
/depcomp
/install-sh
/m4/gnulib-cache.m4
/missing
/perf.data*
/stamp-h1
/pcre2-16-demo
/pcre2-16-demo.exe
/rpl
/rpl.exe
/rpl.1
/rpl.info
/rpl-*.tar.gz
/test
/test.exe
/test-prefix-stream
/test-prefix-stream.exe
/TAGS
